<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Link awesome CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">


    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Poppins&family=Josefin+Sans&family=Antonio&display=swap"
        rel="stylesheet">

    <title>Profile</title>
</head>

<style>
    * {
        margin: 0;
        padding: 0;
    }

    html,
    body {
        background: #f0f0f0;
    }

    .explorePage {
        background: #f0f0f0;
        background-size: cover;
        min-height: 100vh;
    }

    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 20px;
        align-items: stretch;
        margin: 3%;
    }

    .grid>article {
        border: 1px solid #ccc;
        box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
    }

    .grid>article img {
        max-width: 100%;
    }

    .text {
        padding: 0px;
    }

    .text>a button {
        background: rgb(25, 48, 70);
        color: #ffffff;
        font-weight: 500;
        font-family: 'Poppins', sans-serif;
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: 1px;
        text-shadow: 1px 1px 2px #000000;
        transition: .3s;
        border: 0;
        padding: 10px;
        width: 100%;
        cursor: pointer;
    }

    .text>a button:hover {
        background: rgb(72, 77, 82);
    }

    .text>a button i {
        padding-left: 10px;
        font-size: 1.2rem;
    }

    /* LOGO */
    .logo {
        margin: 2%;
    }

    .logo h2 {
        font-size: 2.3rem;
        color: #222;
        font-family: 'Antonio', sans-serif;
        user-select: none;
    }

    .logo span {
        color: rgb(25, 48, 70);
        font-size: 2.5rem;
    }

    /* Text */
    .text h3 {
        text-align: center;
        font-family: 'Poppins', sans-serif;
        margin: 3%;
    }

    .text p {
        font-family: 'Poppins', sans-serif;
        text-align: center;
        margin: 4%;
    }

    /* DP */
    .profile-data {
        display: flex;
        justify-content: center;
        align-items: center;

        flex-direction: column;
    }

    .profile-data img {
        display: block;
        height: 200px;
        width: 200px;
        border-radius: 100%;
    }

    .profile-data .name {
        margin: 1%;
        font-family: 'Poppins', sans-serif;
    }


    .profile-data .bio {
        margin: 1.1%;
        font-family: 'Montserrat', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        letter-spacing: 2px;
    }

    .profile-data .bio p i {
        font-size: 1.4rem;
        padding-right: 10px;
        color: rgb(25, 48, 70);
    }

    .options {
        position: fixed;
        top: 5%;
        right: 10%;
    }

    .options a .option-icon {
        background: #ffffff;
        padding: .5em;
        border-radius: 10px;
        box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
        cursor: pointer;
    }

    .options a .option-icon i {
        font-size: 2rem;
    }

    @media (max-width: 730px) {
        .grid {
            grid-template-columns: 1fr 1fr;
        }
    }

    @media (max-width: 530px) {
        .grid {
            grid-template-columns: 100%;
        }
    }
</style>

<body>
    <section class="explorePage">

        <div class="logo">
            <h2>Code <span>Share</span> <i class="fa fa-share-alt" aria-hidden="true"></i></h2>
        </div>

        <div class="profile-data">
            <img src="<%=profileData.avatar_url%>" alt="dp">
            <div class="name">
                <h2>
                    <%=profileData.name%>
                </h2>
                <p>
                    <%=profileData.login%>
                </p>
            </div>
            <div class="bio">
                <p><i class="fa fa-angle-double-right" aria-hidden="true"></i>
                    <%=profileData.bio%>
                </p>
            </div>
        </div>
        <div class="grid">

            <article>

                <div class="text">
                    <a href="/explore"><button>Explore <i class="fa fa-home" aria-hidden="true"></i></button></a>
                </div>
            </article>

            <article>
                <div class="text">
                    <a href="/repositories?username=<%=profileData.login%>"><button>Repositories <i
                                class="fa fa-files-o" aria-hidden="true"></i></button></a>
                </div>
            </article>
            <%if(status==false){%>
                <article>
                    <div class="text">
                        <a href="/createRepo"><button>Create New Repository <i class="fa fa-plus"
                                    aria-hidden="true"></i></button></a>
                    </div>
                </article>
                <%}%>
        </div>
    </section>

    <div class="options">
        <a href="/logout">
            <div class="option-icon"><i class="fa fa-sign-out" aria-hidden="true"></i></div>
        </a>
    </div>
</body>

</html>